@charset "UTF-8";
/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */
/*
 * définition des polices de caractères
 */
@-webkit-keyframes lds-dual-ring {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingHomePage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingHomePage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.Réservez > button {
  font-family: "Roboto", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  color: white;
  border: none;
  cursor: pointer;
}

/* Effet au survol du Button recherche */
.Button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0;
}

.Button .Button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a878db), to(#ec9bd7));
  background: linear-gradient(#a878db, #ec9bd7);
  -webkit-box-shadow: 0 1px 7px -1px #31262f;
          box-shadow: 0 1px 7px -1px #31262f;
}

.Réservez > button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a878db), to(#ec9bd7));
  background: linear-gradient(#a878db, #ec9bd7);
  -webkit-box-shadow: 0 1px 7px -1px #31262f;
          box-shadow: 0 1px 7px -1px #31262f;
}

/* Effet au survol du Button commander */
/* button*/
h6 > button {
  font-size: 4.3vw;
  padding: 3vw 8vw;
  margin-top: 2vw;
  -webkit-box-shadow: 1px 1px 16px -6px #000000;
  box-shadow: 1px 1px 16px -6px #000000;
  border-radius: 6vw;
  margin-bottom: 10vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#a65cdb));
  background: linear-gradient(#FF79DA, #a65cdb);
  color: white;
  border: none;
}

h6 > button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#a878db), to(#ec9bd7));
  background: linear-gradient(#a878db, #ec9bd7);
  -webkit-box-shadow: 0 1px 7px -1px #31262f;
          box-shadow: 0 1px 7px -1px #31262f;
}

body {
  background-color: white;
  margin: 0;
}

.blocSpinner {
  height: 100%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  border: 2vw solid #9356dc;
  border-color: #9356dc transparent;
  -webkit-animation: lds-dual-ring 2s linear;
          animation: lds-dual-ring 2s linear;
  opacity: 0;
}

.loadingHomePage {
  padding: 0;
  margin: 0;
  -webkit-animation: loadingHomePage 2.5s linear;
          animation: loadingHomePage 2.5s linear;
}

header > h1 {
  font-size: 8vw;
  margin: 0;
  -webkit-box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.3);
  padding: 2vw 0vw 1vw 0vw;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4vw;
  padding: 2vw 12vw 2vw 0vw;
  margin-top: 1vw;
}

.localisation p {
  margin: 0;
}

.localisation i.fas {
  margin-right: 5vw;
  margin-left: 12vw;
}

.localisation input {
  height: 7vw;
  width: 41%;
  font-size: 4vw;
  background-color: #eaeaea;
  padding-left: 1vw;
  border: 0;
}

/* Réservation, Explorer */
.Réservez {
  text-align: center;
}

.Réservez h2 {
  font-size: 6vw;
  margin-bottom: 0;
  padding: 5vw 14vw 0vw 14vw;
}

.Réservez p {
  font-size: 4.5vw;
  margin-top: 3vw;
  margin-bottom: 7vw;
}

.Réservez button {
  font-size: 4.3vw;
  padding: 4vw 5vw;
  -webkit-box-shadow: 1px 1px 16px -6px #000000;
          box-shadow: 1px 1px 16px -6px #000000;
  border-radius: 9vw;
  margin-bottom: 15vw;
  cursor: pointer;
}

/* NAV*/
.Nav {
  padding: 2vw;
}

.Nav h2 {
  font-size: 6vw;
  margin: 0;
  margin-left: 3vw;
  margin-top: 10vw;
  margin-bottom: 7vw;
}

.Nav ol {
  width: 90%;
  margin: auto;
  margin-right: 1vw;
  counter-reset: steps;
  padding: 0;
  margin-left: 4vw;
}

.Nav li {
  -webkit-box-shadow: 5px 5px 5px 1px #e3e3e3;
          box-shadow: 5px 5px 5px 1px #e3e3e3;
  padding: 7vw 0vw 0vw 0vw;
  border-radius: 5vw;
  text-align: start;
  width: 100%;
  height: 18vw;
  margin-bottom: 6vw;
  font-size: 4.2vw;
  list-style-type: none;
  position: relative;
}

.Nav li i.fas {
  padding: 0vw 6vw 2vw 8vw;
  font-size: 4.9vw;
}

.Nav li:before {
  display: -ms-grid;
  display: grid;
  place-items: center;
  content: counter(steps);
  counter-increment: steps;
  font-size: 3vw;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  left: -2vw;
  position: absolute;
}

.Nav li:hover {
  cursor: pointer;
}

/* Menus*/
.card_new {
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 4vw;
  -webkit-box-shadow: 5px 5px 5px 1px #e3e3e3;
          box-shadow: 5px 5px 5px 1px #e3e3e3;
  height: 65vw;
  margin-left: 5vw;
  position: relative;
}

.card_new:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card_new:before {
  content: "Nouveau";
  position: absolute;
  right: 2vw;
  padding: 1.4vw 4vw;
  display: -ms-grid;
  display: grid;
  font-weight: 600;
  font-size: 3.4vw;
  place-items: center;
  -webkit-text-size-adjust: 2vw;
     -moz-text-size-adjust: 2vw;
      -ms-text-size-adjust: 2vw;
          text-size-adjust: 2vw;
  margin-top: 3vw;
  border-radius: 0.5vw;
}

.card {
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 4vw;
  -webkit-box-shadow: 5px 5px 5px 1px #e3e3e3;
          box-shadow: 5px 5px 5px 1px #e3e3e3;
  height: 65vw;
  margin-left: 5vw;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card_image {
  width: 100%;
  height: 70%;
  border-radius: 4vw 4vw 0 0;
}

.cards_menu {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 10vw;
}

.menus > h2 {
  margin: 0;
  font-size: 6vw;
  margin-left: 5vw;
  margin-top: 12vw;
  margin-bottom: 5vw;
  padding-top: 13vw;
}

.card_description {
  width: 90%;
  margin: 0;
  position: relative;
}

.card_description h3 {
  margin: 0;
  margin-top: 3vw;
  font-size: 4.6vw;
}

.card_description p {
  margin: 0;
  margin-top: 1vw;
  font-size: 4.5vw;
}

.card_description i {
  font-size: 7vw;
  position: absolute;
  right: 1vw;
  top: 40%;
}

.card_description i i:hover {
  font-weight: 800;
}

/* Restaurant  */
/* Header & banner restaurants */
.banner {
  width: 100%;
  height: 63vw;
}

.header_resto {
  position: relative;
}

.header_resto h1 {
  font-size: 8vw;
  padding-bottom: 2vw;
}

header > a {
  position: absolute;
  font-size: 5vw;
  margin-left: 5vw;
  top: 22%;
  margin-top: 1.5vw;
}

section > h3 {
  font-size: 4.5vw;
  font-weight: 400;
}

.titre_resto {
  position: relative;
}

.titre_resto i {
  position: absolute;
  left: 83vw;
  top: 50%;
  font-size: 6vw;
}

.titre_resto h2 {
  font-size: 7.5vw;
  margin: 0;
  padding: 7vw 0vw 0vw 5vw;
  width: 100%;
  border-radius: 8vw 8vw 0 0;
  margin-top: -8vw;
}

.titre_resto i:hover {
  cursor: pointer;
  font-weight: bold;
  color: #9356dc;
  -webkit-transition: 2s;
  transition: 2s;
}

/*
 * Animation Fadein
 */
.bloc__menu {
  padding: 6vw 3vw 0vw 3vw;
}

.cube__plats {
  margin-bottom: 10vw;
  position: relative;
}

.cube__plats a {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 12%;
  margin-left: 0.5vw;
  margin-bottom: 3vw;
  border-bottom: 3px solid #99e2d0;
  height: 7vw;
  font-size: 4.5vw;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4vw;
  border-radius: 4vw;
  -webkit-box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.1);
}

article:hover {
  cursor: pointer;
}

article:hover i {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

article h5 {
  margin: 0;
  font-size: 3.8vw;
  margin-top: 1vw;
}

article:hover .check {
  margin-right: 0%;
  -webkit-transition: margin-right 1.6s;
  transition: margin-right 1.6s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.down1 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down2 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down3 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down4 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down5 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.cube_descritpion {
  display: block;
  width: 100%;
  padding: 2vw 0vw 2vw 2vw;
  overflow: hidden;
  white-space: nowrap;
}

.cube_descritpion h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 4.8vw;
  padding-right: 4.5vw;
  margin-top: 1vw;
}

.cube_descritpion p {
  margin: 0;
  font-size: 3.8vw;
  padding-right: 8vw;
  margin-top: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: #4e4e4e;
}

.détail_h4 {
  white-space: normal;
}

.prix {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-bottom: 3vw;
  font-weight: 600;
  margin-left: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 4vw;
  margin-right: 6vw;
}

.check {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 23vw;
  margin-right: -23vw;
  height: auto;
  background-color: #99E2D0;
}

.check i {
  background: white;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #99E2D0;
  border-radius: 4vw;
  width: 5vw;
  height: 5vw;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.check i:before {
  font-size: 3vw;
}

/* Footer*/
footer {
  padding: 1vw 0vw 1vw 6vw;
  height: 51vw;
}

footer h2 {
  font-size: 5vw;
  margin: 0;
  margin-top: 4vw;
  margin-bottom: 4vw;
  font-weight: 400;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4vw;
  margin: 0;
  margin-top: 2vw;
}

footer a .fa-utensils {
  margin-right: 3vw;
}

footer a .fa-hands-helping {
  margin-right: 1.5vw;
}
/*# sourceMappingURL=style-mobile.css.map */