
  @keyframes lds-dual-ring {
    0% {
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  
  @keyframes loadingHomePage {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes fadein {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }