/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */

/*
 * définition des polices de caractères
 */

/* Restaurant 1 */
/* Header & banner restaurants */

header > h1 {
  font-size: 4vw;
}
header > i {
  font-size: 2.5vw;
}
/* Restaurants*/

section > h3 {
  font-size: 4.5vw;
  font-weight: 400;
}

.titre_resto > i {
  left: 86vw;
  top: 36%;
  font-size: 3vw;
}

.titre_resto > h2 {
  font-size: 3vw;
  margin-bottom: 1vw;
  padding: 2vw 0vw 0vw 10vw;
  border-radius: 0;
}

.bloc__menu {
  display: flex;
  justify-content: space-between;
  padding: 4vw 10vw 5vw 10vw;
}

.cube__plats {
  margin-bottom: 0;
  width: auto;
}
.cube__plats > a {
  width: 21%;
  margin-bottom: 1vw;
  border-bottom: 3px solid #99e2d0;
  height: 2.5vw;
  font-size: 1.5vw;
}
article {
  padding: 0.7vw 2vw 1vw 2vw;
  border-radius: 2vw;
  height: auto;
}
article > h4 {
  padding: 0;
  font-size: 1.2vw;
}
article > p {
  margin: 0;
  font-size: 1vw;
}
.prix {
  padding-left: 1vw;
}
/* button*/
.Button {
  display: grid;
  place-items: center;
}

section > button {
  font-size: 1.5vw;
  padding: 1vw 2vw;
  margin-bottom: 2vw;
}
