/*
 * style.css-desktop
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */

/*
 * définition des polices de caractères
 */

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
}

/*
  * définition des polices de caractères
  */

@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

header {
  background-color: #f6f6f6;
  & h1 {
    font-family: "Shrikhand", cursive;
    text-align: center;
    background-color: white;
    font-weight: 300;
  }
}

.bloc header > div {
  background-color: #eaeaea;
  & p {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}

.localisation {
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  & i.fas {
    color: #353535;
  }
}

/* Réservation, Explorer */

.Réservez > button {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#e872da, #a65cdb);
  color: white;
  border: none;
}

/* Effet au survol du Button recherche */
.Réservez > button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.Réservez > h2 {
  font-family: "Roboto", sans-serif;
}

.Réservez > p {
  font-family: "Roboto", sans-serif;
  color: #656565;
}

/* NAV*/

.Nav > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Nav > ol > li {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  &:before {
    color: white;
    background-color: #9356dc;
  }
  &:hover {
    background-color: #f5edff;
  }
  & i.fas {
    color: #8d8d8d;
  }

  & i.fas:hover {
    color: #9356dc;
  }
}

/* Menus*/
.card_new::before {
  font-family: "Roboto", sans-serif;
  color: #008766;
}

.menus {
  background-color: #f6f6f6;
  & h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
}

.card_image {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card_description {
  font-family: "Roboto", sans-serif;
  color: black;
  & i:hover {
    color: #bd64db;
  }
}

/* Header & banner */
.header > h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  background-color: white;
  font-weight: 300;
}

.banner {
  object-fit: cover;
}

/* Restaurants*/

.main_resto {
  background-color: #f6f6f6;
}

section > a {
  color: #7b7b7b;
}

.titre_resto > h2 {
  font-weight: lighter;
  font-family: "Shrikhand";
  background-color: #f6f6f6;
}

.bloc__menu {
  font-family: "Roboto", sans-serif;
}

.cube__plats > a {
  text-decoration: none;
  color: #7b7b7b;
  font-family: "Roboto", sans-serif;
}

article {
  background-color: #ffffff;
}

.carte__plat > h5 {
  color: #000000;
}
/* button*/
section > button {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#e872da, #a65cdb);
  color: white;
  border: none;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

/* Footer*/

footer {
  background-color: #353535;
  & h2 {
    font-family: "Shrikhand", cursive;
    color: white;
  }

  & a {
    font-family: "Roboto", sans-serif;
    color: white;
  }
}
