/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */

/*
 * définition des polices de caractères
 */

/* Header */
header > h1 {
  font-size: 4vw;
  padding: 0;
}
/* Réservation, Explorer */
.localisation {
  padding: 1vw 1vw 1vw 5vw;
  font-size: 2vw;
}
.localisation > i.fas {
    margin-right: 4vw;
    margin-left: -10vw;
}

.Réservez > h2 {
    font-size: 3.5vw;
    padding: 0vw 0vw 0vw 0vw;
    margin-bottom: 2vw;
}

.Réservez > p {
    font-size: 1.7vw;
    margin: 0;
    margin-bottom: 2vw;
}

/* Réservation, Button recherche */
.Réservez > button {
  font-size: 1.5vw;
  padding: 1vw 1vw;
  margin-bottom: 4vw;
  margin-top: 1vw;
}

/* NAV*/

.Nav > h2 {
    margin: 0;
    margin-bottom: 2vw;
    margin-left: 9vw;
    font-size: 3vw;
}

.Nav > ol {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Nav > ol > li {
    padding: 1vw 0vw 0vw 0vw;
    width: 23%;
    height: auto;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}
li:before {
    display: grid;
    font-size: 1vw;
    width: 2vw;
    height: 2vw;

    left: -1vw;
    top: 29%;
}

.Nav li i.fas {
    padding: 0vw 2vw 1vw 2vw;
}

.fa-mobile-alt {
  font-size: larger;
}
/* Menus*/
.menus > h2 {
  margin: 0;
  margin-top: 2vw;
  padding: 2vw 2vw;
  font-size: 3vw;
  margin-left: 17vw;
}

.cards_menu {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.card_image {
  border-radius: 2vw 2vw 0 0;
}

.card {
  width: 30%;
  height: 23vw;
  border-radius: 2vw;
}
.card_new {
  width: 30%;
  height: 23vw;
  border-radius: 2vw;
}

.card_description > h3 {
  font-size: 2vw;
  margin-top: 1vw;
}

.card_description > p {
  font-size: 2vw;
}
.card_description > i {
  font-size: 3vw;
  top: 30%;
}
.card_new::before {
  margin-top: 1.5vw;
}
/* Footer*/
footer > h2 {
  margin: 0;
}
footer > a {
  margin-top: 0.5vw;
}

footer > a > .fa-utensils {
  margin-right: 1vw;
}

footer > a > .fa-hands-helping {
  margin-right: 0.5vw;
}
/* Restaurant 1 */
/* Header & banner restaurants */
.banner {
  height: 40vw;
}
header > h1 {
  font-size: 5vw;
  margin: 0;
}
header > i {
  font-size: 3.5vw;
  margin-left: 4vw;
  margin-top: 0.6vw;
}
/* Restaurants*/

section > h3 {
  font-size: 4.5vw;
  font-weight: 400;
}

.titre_resto > i {
  left: 86vw;
  top: 36%;
  font-size: 3vw;
}

.titre_resto > h2 {
  font-size: 3vw;
  margin-bottom: 1vw;
  padding: 2vw 0vw 0vw 10vw;
  border-radius: 0;
}

.bloc__menu {
  display: flex;
  justify-content: space-around;
  padding: 6vw;
  
}

.cube__plats {
  margin-bottom: 0;
  width: auto;
}
.cube__plats > a {
  width: 21%;
  margin-bottom: 1vw;
  border-bottom: 3px solid #99e2d0;
  height: 2.5vw;
  font-size: 1.5vw;
}
article {
  padding: 0.7vw 2vw 1vw 2vw;
  border-radius: 2vw;
}
article > h4 {
  padding: 0;
  font-size: 1.2vw;
}
article > p {
  margin: 0;
  font-size: 1vw;
}
.prix {
  padding-left: 1vw;
}
/* button*/
.Button {
  display: grid;
  place-items: center;
}

section > button {
  font-size: 1.5vw;
  padding: 0.8vw 2vw;
  margin-bottom: 2vw;
}

/* Footer*/
footer {
  padding: 6vw 0vw 0vw 0vw;
  height: 12vw;
  display: flex;
  justify-content: space-around;
}

footer > h2 {
  font-size: 1.7vw;
}

footer > a {
  font-size: 1.2vw;
  margin: 0;
}

footer > a > .fa-utensils {
  margin-right: 2vw;
}

footer > a > .fa-hands-helping {
  margin-right: 1vw;
}
