/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */

/*
 * définition des polices de caractères
 */

/* Header */
header > h1 {
  font-size: 3vw;
}
/* Réservation, Explorer */
.localisation {
    padding: 1vw 0vw 1vw 0vw;
    font-size: 2vw;
}

.Réservez > h2 {
  font-size: 2.5vw;
  padding: 0vw 30vw 0vw 30vw;
  margin-bottom: 1vw;
}

.Réservez > p {
  font-size: 1.5vw;
  padding: 0vw 30vw 0vw 30vw;
  margin: 0;
  margin-bottom: 1vw;
}

.localisation > i.fas {
    margin-right: 1vw;
  }
/* Réservation, Button recherche */
.Réservez > button {
    font-size: 1.5vw;
    padding: 1vw 1vw;
    margin-bottom: 4vw;
    margin-top: 1vw;
}

/* NAV*/
.Nav > ol {
    width: 80%;
    margin-left: 10vw;
}
.fa-mobile-alt {
    font-size: larger;
  }
  .Nav > h2 {
    margin-left: 9.5vw;
}
/* Menus*/
.menus > h2 {
    margin: 0;
    margin-top: 2vw;
    padding: 2vw 2vw;
    font-size: 3vw;
    margin-left: 17vw;
}

.cards_menu {
    justify-content: center;
  width: 95%;
}

.card_image {
    border-radius: 2vw 2vw 0 0;
  }

.card {
    width: 30%;
    height: 23vw;
    border-radius: 2vw;
}
.card_new {
    width: 30%;
    height: 23vw;
    border-radius: 2vw;
}

.card_description > h3 {
  font-size: 2vw;
  margin-top: 1vw;
}

.card_description > p {
  font-size: 2vw;
}
.card_description > i {
  font-size: 3vw;
  top: 30%;
}
.card_new::before {
  margin-top: 1.5vw;
}
/* Footer*/
footer > h2 {
    margin: 0;
}
footer > a {
  margin-top: 0.5vw;
}

footer > a > .fa-utensils {
  margin-right: 1vw;
}

footer > a > .fa-hands-helping {
  margin-right: 0.5vw;
}
