/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */
/*
 * définition des polices de caractères
 */
 
.loading_spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.spinner-sector{
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
}
.spinner-text {
    font-size: 8vw;
    animation: loading-opacity 2s ease-in-out
}
.spinner-sector-blue{
  border-top: 15px solid blue; 
  animation: rotate 2s ease infinite; 
}
.spinner-sector-purple{
    border-top: 15px solid purple; 
    animation: rotate 2s ease-in infinite;  
  }
  .spinner-sector-green{
    border-top: 15px solid green;
    animation: rotate 1.5s ease-out infinite;   
  }

  @keyframes rotate {
      from { transform : rotate();}
      to{ transform: rotate(360deg);}
  }
@keyframes loading-opacity{
    0%, 100% {opacity: 1;}
    25%, 75% {opacity: .5;}
    50%{opacity: .1;}
}

body {
  background-color: white;
  margin: 0;
}

header > h1 {
  font-size: 8vw;
  margin: 0;
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.3);
  padding: 2vw 0vw 1vw 0vw;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  padding: 5vw 14vw 3vw 0vw;

  & p {
    margin: 0;
  }

  & i.fas {
    margin-right: 5vw;
    margin-left: 7vw;
  }
}

/* Réservation, Explorer */

.Réservez {
  text-align: center;
  & h2 {
    font-size: 6vw;
    margin-bottom: 0;
    padding: 5vw 14vw 0vw 14vw;
  }

  & p {
    font-size: 4.5vw;
    margin-top: 3vw;
    margin-bottom: 7vw;
  }
  & button {
    font-size: 4.3vw;
    padding: 4vw 5vw;
    box-shadow: 1px 1px 16px -6px #000000;
    border-radius: 9vw;
    margin-bottom: 15vw;
  }
}

/* NAV*/

.Nav {
  padding: 2vw;

  & h2 {
    font-size: 6vw;
    margin: 0;
    margin-left: 3vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
  }

  & ol {
    width: 90%;
    margin: auto;
    margin-right: 1vw;
    counter-reset: steps;
    padding: 0;
    margin-left: 4vw;
  }

  & li {
    box-shadow: 5px 5px 5px 1px #e3e3e3;
    padding: 7vw 0vw 0vw 0vw;
    border-radius: 5vw;
    text-align: start;
    width: 100%;
    height: 18vw;
    margin-bottom: 6vw;
    font-size: 4.2vw;
    list-style-type: none;
    position: relative;

    & i.fas {
      padding: 0vw 6vw 2vw 8vw;
      font-size: 4.9vw;
    }

    &:before {
      display: grid;
      place-items: center;
      content: counter(steps);
      counter-increment: steps;
      font-size: 3vw;
      width: 6vw;
      height: 6vw;
      border-radius: 50%;
      left: -2vw;
      position: absolute;
    }

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
}

  
/* Menus*/

.card_new {
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 4vw;
  box-shadow: 5px 5px 5px 1px #e3e3e3;
  height: 65vw;
  margin-left: 5vw;
  position: relative;
  &:hover {
    transform: scale(1.02);
  }
  &:before {
    content: "Nouveau";
    position: absolute;
    right: 2vw;
    padding: 1.4vw 4vw;
    display: grid;
    font-weight: 600;
    font-size: 3.4vw;
    place-items: center;
    text-size-adjust: 2vw;
    margin-top: 3vw;
    border-radius: 0.5vw;
  }
}

.card {
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 4vw;
  box-shadow: 5px 5px 5px 1px #e3e3e3;
  height: 65vw;
  margin-left: 5vw;
  &:hover {
    transform: scale(1.02);
  }
}

.card_image {
  width: 100%;
  height: 70%;
  border-radius: 4vw 4vw 0 0;
}

.cards_menu {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 10vw;
}

.menus > h2 {
  margin: 0;
  font-size: 6vw;
  margin-left: 5vw;
  margin-top: 12vw;
  margin-bottom: 5vw;
  padding-top: 13vw;
}

.card_description {
  width: 90%;
  margin: 0;
  position: relative;
  & h3 {
    margin: 0;
    margin-top: 3vw;
    font-size: 4.6vw;
  }
  & p {
    margin: 0;
    margin-top: 1vw;
    font-size: 4.5vw;
  }
  & i {
    font-size: 7vw;
    position: absolute;
    right: 1vw;
    top: 40%;
    &:hover {
      font-weight: 800;
          transition: 2s;
    }
  }
}

/* Restaurant  */
/* Header & banner restaurants */

.banner {
  width: 100%;
  height: 63vw;
}

.header_resto {
  position: relative;
  & h1 {
    font-size: 8vw;
    padding-bottom: 2vw;
  }
}

header > a {
  position: absolute;
  font-size: 5vw;
  margin-left: 5vw;
  top: 22%;
  margin-top: 1.5vw;
}

section > h3 {
  font-size: 4.5vw;
  font-weight: 400;
}

.titre_resto {
  position: relative;
  & i {
    position: absolute;
    left: 83vw;
    top: 50%;
    font-size: 6vw;
  }

  & h2 {
    font-size: 7.5vw;
    margin: 0;
    padding: 7vw 0vw 0vw 5vw;
    width: 100%;
    border-radius: 6vw 6vw 0 0;
    margin-top: -6vw;
  }
  & i:hover {
    cursor: pointer;
    font-weight: bold;
    color: #bd64db;
  }
}
/*
 * Animation Fadein
 */
 
  .down1 {
    animation: fadein 1s;
            animation-delay: 200ms;
            animation-fill-mode: forwards;
    opacity: 0;
  }
  .down2 {
    animation: fadein 1s;
            animation-delay: 400ms;
            animation-fill-mode: forwards;
    opacity: 0;
  }
  .down3 {
    animation: fadein 1s;
            animation-delay: 800ms;
            animation-fill-mode: forwards;
    opacity: 0;
  }
  .down4 {
       animation: fadein 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
    opacity: 0;
  }
  .down5 {
    animation: fadein 1s;
         animation-delay: 1s;
         animation-fill-mode: forwards;
 opacity: 0;
}

  @keyframes fadein {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.bloc__menu {
  padding: 6vw 3vw 0vw 3vw;
}

.cube__plats {
  margin-bottom: 10vw;
  position: relative;
  & a {
    display: -webkit-box;
    display: -ms-flexbox;
    width: 12%;
    margin-left: 0.5vw;
    margin-bottom: 3vw;
    border-bottom: 3px solid #99e2d0;
    height: 7vw;
    font-size: 4.5vw;
  }
}

article {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 4vw;
  border-radius: 4vw;
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    & i {      
            animation-play-state: running;
            animation-delay: 0s;        
    }
  }
  & h5 {
    margin: 0;
    font-size: 3.8vw;
    margin-top: 1vw;
  }

  &:hover .check {
    margin-right: 0%;
    transition: margin-right 1.6s;
    transform-origin: right;
  }
  
}

.cube_descritpion {
  display: block;
  width: 100%;
  padding: 2vw 0vw 2vw 2vw;
  overflow: hidden;
  white-space: nowrap;
  & h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 4.8vw;
    padding-right: 4.5vw;
    margin-top: 1vw;
  }

  & p {
    margin: 0;
    font-size: 3.8vw;
    padding-right: 8vw;
    margin-top: 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: #4e4e4e;
  }
}

.détail_h4 {
  white-space: normal;
}

.prix {
  display: grid;
  align-content: flex-end;
  padding-bottom: 3vw;
  font-weight: 600;
  margin-left: auto;
  width: min-content;
  font-size: 4vw;
  margin-right: 6vw;
}

/*
 * Animation Spinner
 */

.check {
  display: grid;
  place-content: center;
  width: 23vw;
  margin-right: -23vw;
  height: auto;
  background-color: #99e2d0;
  & i {
    background: white;
    display: grid;
    place-content: center;
    color: #99e2d0;
    border-radius: 4vw;
    width: 5vw;
    height: 5vw;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 1.6s;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-play-state: paused;

    &:before {
      font-size: 3vw;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* button*/

.Button {
  display: grid;
  place-items: center;
}

h6 > button {
  font-size: 4.3vw;
  padding: 3vw 8vw;
  margin-top: 2vw;
  -webkit-box-shadow: 1px 1px 16px -6px #000000;
  box-shadow: 1px 1px 16px -6px #000000;
  border-radius: 6vw;
  margin-bottom: 10vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/* Footer*/

footer {
  padding: 1vw 0vw 1vw 6vw;
  height: 51vw;
  & h2 {
    font-size: 5vw;
    margin: 0;
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-weight: 400;
  }

  & a {
    display: flex;
    font-size: 4vw;
    margin: 0;
    margin-top: 2vw;
    & .fa-utensils {
      margin-right: 3vw;
    }

    & .fa-hands-helping {
      margin-right: 1.5vw;
    }
  }
}
