/*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */

/*
 * définition des polices de caractères
 */

/* Header */

header > h1 {
  font-size: 5vw;
  padding: 0;
}

/* Réservation, Explorer */
.Réservez {
    text-align: center;
    & h2 {
        font-size: 2.5vw;
        padding: 0vw 0vw 0vw 0vw;
        margin-bottom: 2vw;
    }
    
    & p {
        font-size: 2vw;
        margin: 0;
        margin-bottom: 2vw;
    }
    & button {
        font-size: 1.5vw;
        padding: 1.2vw 2.3vw;
        margin-bottom: 4vw;
        margin-top: 1vw;
    }  
  }
  
.localisation {
  padding: 1vw 1vw 1vw 8vw;
  font-size: 2vw;
}

.localisation > i.fas {
  margin-right: 4vw;
  margin-left: -10vw;
}


/* NAV*/
.Nav {
    padding: 2vw;
    & ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
  }
  & li {
    padding: 2vw 1vw 1vw 3vw;
    width: 43%;
    height: auto;
    font-size: 2.2vw;
    margin-bottom: 3vw;
      &:before {
        display: grid;
        font-size: 2vw;
        width: 3vw;
        height: 3vw;
        left: -1.2vw;
        top: 30%;
        }
    }
  }

.Nav > h2 {
    margin: 0;
    margin-bottom: 2vw;
    margin-left: 7vw;
    margin-top: 2vw;
    font-size: 3vw;
}


.Nav li i.fas {
  padding: 0vw 2vw 1vw 1vw;
  font-size: 2.5vw;
}


/* Menus*/
.menus {
  padding-bottom: 1vw;
}

.menus > h2 {
    margin: 0;
    margin-top: 2vw;
    padding: 3vw 0vw;
    font-size: 3.5vw;
    margin-left: 9vw;
}

.cards_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  padding-bottom: 3vw;
}

.card_image {
  border-radius: 2vw 2vw 0 0;
}

.card {
    width: 40%;
    height: 27vw;
    border-radius: 2vw;
}

.card_new {
    width: 40%;
    height: 27vw;
    border-radius: 2vw;
}
.card_description{
    margin-top: 1vw;
}
.card_description > h3 {
  font-size: 2vw;
  margin-top: 1vw;
}

.card_description > p {
  font-size: 2vw;
  margin-top: 0;
}

.card_description > i {
  font-size: 3vw;
  top: 30%;
}

.card_new::before {
    margin-top: 1vw;
    right: 1vw;
    padding: 0.5vw 1vw 0.5vw;
    font-size: 1.8vw;
}

/* Footer*/

footer > h2 {
  margin: 0;
}

footer > a {
  margin-top: 0.5vw;
}

footer > a > .fa-utensils {
  margin-right: 1vw;
}

footer > a > .fa-hands-helping {
  margin-right: 0.5vw;
}

/* Restaurant 1 */
/* Header & banner restaurants */

.banner {
  height: 35vw;
  margin: 0;
}

header > h1 {
  font-size: 4vw;
  margin: 0;
}
.header_resto > h1 {
    padding: 0;
  font-size: 5vw;
  margin: 0;
}

header > i {
  font-size: 3.5vw;
  margin-left: 4vw;
  margin-top: 0.6vw;
}

/* Restaurants*/

section > h3 {
  font-size: 4.5vw;
  font-weight: 400;
}

.titre_resto > i {
  left: 91vw;
  top: 36%;
  font-size: 3vw;
}

.titre_resto > h2 {
    font-size: 4vw;
    padding: 3vw 0vw 3vw 2vw;

    margin-top: 0px;
}

.bloc__menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0vw 1vw 2vw 1vw;
}

.cube__plats {
    margin-bottom: 0;
    width: 30vw;
}

.cube__plats > a {
    width: 17%;
    margin-bottom: 1vw;
    border-bottom: 3px solid #99e2d0;
    height: 4vw;
    font-size: 2.5vw;
}

article {
  border-radius: 2vw;
}

.cube_descritpion {
    padding: 1vw 0vw 1vw 2vw;
}

.cube_descritpion > h4 {
  padding: 0;
  font-size: 1.6vw;
  margin: 0;
}

.détail_h4{
    white-space: nowrap;
}

.cube_descritpion > p {
    margin: 0;
    font-size: 1.3vw;
    padding-right: 1vw;
}
.check {
    width: 7vw;
    margin-right: -7vw;
}
.check > i {
    background: white;
    display: grid;
    place-content: center;
    color: #99e2d0;
    border-radius: 4vw;
    width: 2.3vw;
    height: 2.3vw;
}
.prix {
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    padding: 0vw 2vw 1.1vw 0vw;
}

/* button*/

.Button {
  display: grid;
  place-items: center;
}

section > button {
    font-size: 2.5vw;
    padding: 1vw 2vw;
    margin-bottom: 7vw;
}

/* Footer*/

footer {
  padding: 6vw 0vw 0vw 0vw;
  height: 19vw;
  margin-top: 0vw;
  display: flex;
  justify-content: space-around;
}

footer > h2 {
  font-size: 2.5vw;
}

footer > a {
  font-size: 1.6vw;
  margin: 0;
  margin-top: 0.8vw;
}

footer > a > .fa-utensils {
  margin-right: 2vw;
}

footer > a > .fa-hands-helping {
  margin-right: 1vw;
}
