 /*
 * style.css-mobile
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */


/*
 * définition des polices de caractères
 */

 
/* Header */
 header > h1{
    font-size: 5vw;
}
/* Réservation, Explorer */
.localisation{
    font-size: 3vw;
}

.Réservez > h2{
    font-size: 4vw;
}

.Réservez > p{
    font-size: 3vw;
}

/* Réservation, Button recherche */
.Réservez > button{
    font-size: 3.5vw;
    padding: 2vw 3vw;
    margin-bottom: 9vw;
}

/* NAV*/
.Nav > h2{
    font-size: 4.5vw;
}

.Nav > ol > li{
    width: 76%;
    height: 10vw;
    font-size: 3vw;
}

/* Menus*/
.menus > h2{
    margin-top: 8vw;
}
 .cards_menu {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 42%;
    height: 38vw;
 
}
.card_new{
    width: 42%;
    height: 38vw; 
}

.card_description > h3{
    font-size: 3.5vw;
    margin-top: 0.2vw;
 }

 .card_description >p{
    font-size: 3vw;
 }
 .card_description >i{
    font-size: 5vw;
    top: 30%;
 }

/* Footer*/

